.small-board {
    -fx-background-image: url("/gui/boards/small.png");
    -fx-background-size: stretch;
}

.medium1-board {
    -fx-background-image: url("/gui/boards/medium_1.png");
    -fx-background-size: stretch;
}

.medium2-board {
    -fx-background-image: url("/gui/boards/medium_2.png");
    -fx-background-size: stretch;
}

.big-board {
    -fx-background-image: url("/gui/boards/big.png");
    -fx-background-size: stretch;
}

.highlighted-square {
    -fx-border-color: deeppink;
    -fx-border-width: 2px;
}